<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
		<add name="localhost_sa_Connection" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-5CRQHP70;integrated security=SSPI;initial catalog=sa" />
		<add name="Connectionstring" connectionString="Server=10.50.163.3;Database=V3_EM2;User Id=NebimV3AdminUser;Password=Mts2020!.*; " />
    </connectionStrings>
</configuration>
